<!DOCTYPE html>
<html lang="fr"
      class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="{{ asset('assets/') }}"
      data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no,
                   minimum-scale=1.0, maximum-scale=1.0" />

    <title>{% block title %}Platform Admin{% endblock %} - InventoTrack</title>

    <!-- Styles + Fonts -->
    {% include 'layout/superadmin/_styles.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        {# SIDEBAR #}
        {% include 'layout/superadmin/_sidebar.html.twig' %}

        <div class="layout-page">

            {# NAVBAR #}
            {% include 'layout/superadmin/_navbar.html.twig' %}

            <div class="content-wrapper">

                <div class="container-xxl flex-grow-1 container-p-y">
                    {% block body %}{% endblock %}
                </div>

                {# FOOTER #}
                {% include 'layout/superadmin/_footer.html.twig' %}
            </div>

        </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
</div>

{# JS #}
{% include 'layout/superadmin/_scripts.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
