<!DOCTYPE html>
<html lang="fr" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="{{ asset('assets/') }}" data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    
    <title>{% block title %}InventoTrack{% endblock %}</title>
    
   
    {% include 'layout/inventory/_styles.html.twig' %}

    {% block stylesheets %}{% endblock %}
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            
            <!-- Menu -->
            {% include 'layout/inventory/_sidebar.html.twig' %}
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                {% include 'layout/inventory/_navbar.html.twig' %}
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        {% block body %}{% endblock %}
                    </div>
                    <!-- / Content -->

                    <!-- Footer -->
                    {% include 'layout/inventory/_footer.html.twig' %}
                    <!-- / Footer -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
        <!-- Drag Target Area -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    {% include 'layout/inventory/_scripts.html.twig' %}

    
    {% block javascripts %}{% endblock %}
</body>
</html>